@model FamiTreeProject.ViewModels.HomeViewModel
@{var familyMembers = Model.FamilyMembers; }

<main class="hg__main">

    <div class="tree">
        <ul>
            <li>
                <figure class="human">
                    <img class="person" src="img/persona.png">
                    <figcaption>Hannah</figcaption>
                </figure>
                <ul>
                    <li>
                        @foreach (var fm in familyMembers)
                        {
                            @if (fm.Generation == 1 && fm.GenerationPlaceID == 1)
                            {
                        <figure class="human">
                            
                            <div id="@fm.HintId" class="generation1"></div>
                         

                            <figcaption>@fm.Name</figcaption>
                        </figure>
                            }
                        }
                    </li>

                    <li>
                        @foreach (var fm in familyMembers)
                        {
                            @if (fm.Generation == 1 && fm.GenerationPlaceID == 2)
                            {
                        <figure class="humancentered">
                            <div>
                                <div id="@fm.HintId" class="generation1"></div>

                                <figcaption>@fm.Name</figcaption>
                            </div>
                        </figure>
                            }
                        }
                        <ul>
                            <li>
                                @foreach (var fm in familyMembers)
                                {
                                    @if (fm.Generation == 2 && fm.GenerationPlaceID == 1)
                                    {
                                        <figure class="human">
                                            <div id="@fm.HintId" class="image generation2" ></div>

                                            <figcaption>@fm.Name</figcaption>
                                        </figure>
                                    }
                                }
                            </li>

                            <li>
                                @foreach (var fm in familyMembers)
                                {
                                    @if (fm.Generation == 2 && fm.GenerationPlaceID == 2)
                                    {
                                <figure class="humancentered">
                                    <div>
                                        <div id="@fm.HintId" class="image generation2"></div>

                                        <figcaption>@fm.Name</figcaption>
                                        </div>
                                </figure>
                                    }
                                }
                                <ul>
                                    <li>
                                        @foreach (var fm in familyMembers)
                                        {
                                            @if (fm.Generation == 3 && fm.GenerationPlaceID == 1)
                                            {
                                                <figure class="human">
                                                    <div id="@fm.HintId" class="image generation3"></div>
                                                    <figcaption>@fm.Name</figcaption>
                                                </figure>
                                            }
                                        }
                                    </li>
                                    <li>
                                        @foreach (var fm in familyMembers)
                                        {
                                            @if (fm.Generation == 3 && fm.GenerationPlaceID == 2)
                                            {
                                                <figure class="human">
                                                    <div id="@fm.HintId" class="image generation3"></div>
                                                    <figcaption>@fm.Name</figcaption>
                                                </figure>
                                            }
                                        }
                                    </li>
                                </ul>
                            </li>
                            <li>
                                @foreach (var fm in familyMembers)
                                {
                                    @if (fm.Generation == 2 && fm.GenerationPlaceID == 3)
                                    {
                                        <figure class="human">
                                            <div id="@fm.HintId" class="image generation3"></div>
                                            <figcaption>@fm.Name</figcaption>
                                        </figure>
                                    }
                                }
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</main>


<script>
    var img = document.getElementById('hint');
    var lement;
    var imghit = document.getElementById(lement);
    var hintcounter = 0;
   
    
    var hanna = document.getElementById('1');
    var jonna = document.getElementById('2');
    var jeff = document.getElementById('3');
    var jorah = document.getElementById('4');
    var rasmus = document.getElementById('5');
    var hunna = document.getElementById('6');
    var benjamin = document.getElementById('7');
    
    hanna.onclick = function () {

        document.getElementById("demo").innerHTML = "1";
        lement = "1";
        imghit = document.getElementById(lement);
        compareImages();
    }

    jonna.onclick = function () {

        document.getElementById("demo").innerHTML = "2";
        lement = "2";
        imghit = document.getElementById(lement);
        compareImages();

    }

    jeff.onclick = function () {

        document.getElementById("demo").innerHTML = "3";
        lement = "3";
        imghit = document.getElementById(lement);
        compareImages();
    }

    jorah.onclick = function () {

        document.getElementById("demo").innerHTML = "4";
        lement = "4";
        imghit = document.getElementById(lement);
        compareImages();
    }

    rasmus.onclick = function () {

        document.getElementById("demo").innerHTML = "5";
        lement = "5";
        imghit = document.getElementById(lement);
        compareImages();
    }
    function compareImages() {
        if
        ("persona " + imghit.attributes[0].value == img.attributes[1].value) {

            var change;
            var personId = null;
            var imghitId = imghit.attributes[0].value;
            change = document.getElementById(lement);

            switch (imghitId) {
                case "1":
                    personId = "hanna";
                    break;
                case "2":
                    personId = "jonna";
                    break;
                case "3":
                    personId = "jeff";
                    break;
                case "4":
                    personId = "jorah";
                    break;
                case "5":
                    personId = "rasmus";
                    break;
                default:
                    personId = "image";
            }

            change.attributes[1].value = personId;
            document.getElementById("demos").innerHTML = imghit.attributes[1].value + imghit.attributes[0].value;



        } else {
            switch (hintcounter) {
                case 0: {
                        var hint1 = document.getElementById("hint1");
                    hint1.innerText = "Colour";
                    if (img.attributes[1].value == "persona 1" || img.attributes[1].value == "persona 2") {
                        hanna.style.border = "2px solid red";
                        jonna.style.border = "2px solid red";
                    }
                    if (img.attributes[1].value == "persona 3" || img.attributes[1].value == "persona 4" || img.attributes[1].value == "persona 5") {
                        jeff.style.border = "2px solid red";
                        jorah.style.border = "2px solid red";
                        rasmus.style.border = "2px solid red";
                    }
                    if (img.attributes[1].value == "persona 6" || img.attributes[1].value == "persona 4" || img.attributes[1].value == "persona 7") {
                        hunna.style.border = "2px solid red";
                        benjamin.style.border = "2px solid red";
                    }
                    
                        hintcounter++;
                        break;
                    }
                case 1: {
                        var hint2 = document.getElementById("hint2");
                        hint2.innerText = "Audio";
                        hintcounter++;
                        break;
                    }
                case 2: {
                        var hint3 = document.getElementById("hint3");
                        hint3.innerText = "Video 1";
                        hintcounter++;
                        break;
                    }
                case 3: {
                        var hint4 = document.getElementById("hint4");
                        hint4.innerText = "Video 2";
                        hintcounter++;
                        break;
                    }
                default: hintcounter = 0;
            }
            document.getElementById("demos").innerHTML = "yolo";
        }


    }
</script>

