<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Main.css">
    <title>FAMTREE</title>
</head>
<body class="hg">
    @RenderBody()
 
    <aside class="hg__left">
        <button type="button">Hint 4</button>
        <button type="button">Hint 3</button>
        <button type="button">Hint 2</button>
        <button type="button">Hint 1</button>
        <figure class="human">
            <img class="persona" src="img/persona.png" alt="person">
            <figcaption>Who is this?</figcaption>
        </figure>
    </aside>
    <main class="hg__main">
        @model IEnumerable<FamiTreeProject.Models.FamilyMember>
        <div class="tree">
                <ul>
                    <li>
                        <figure class="human">
                            <img class="person" src="img/persona.png">
                            <figcaption>Hannah</figcaption>
                        </figure>                  
                            <ul>     
                                    <li>
                                        @foreach (var fm in Model)
                                        {
                                            @if (fm.Generation == 1 && fm.GenerationPlaceID == 1)
                                            {
                                        <figure class="human">
                                            <img class="person" src="img/persona.png">
                                            <figcaption>@fm.Name</figcaption>
                                        </figure>
                                                }
                                            }
                                    </li>
                         
                                    <li>
                                        @foreach (var fm in Model)
                                        {
                                            @if (fm.Generation == 1 && fm.GenerationPlaceID == 2)
                                            {
                                                <figure class="human">
                                                    <img class="person" src="img/persona.png">
                                                    <figcaption>@fm.Name</figcaption>
                                                </figure>
                                            }
                                        }
                                        <ul>
                                            <li>
                                                @foreach (var fm in Model)
                                                {
                                                    @if (fm.Generation == 2 && fm.GenerationPlaceID == 1)
                                                    {
                                                        <figure class="human">
                                                            <img class="person" src="img/persona.png">
                                                            <figcaption>@fm.Name</figcaption>
                                                        </figure>
                                                    }
                                                }
                                            </li>

                                            <li>
                                                @foreach (var fm in Model)
                                                {
                                                    @if (fm.Generation == 2 && fm.GenerationPlaceID == 2)
                                                    {
                                                        <figure class="human">
                                                            <img class="person" src="img/persona.png">
                                                            <figcaption>@fm.Name</figcaption>
                                                        </figure>
                                                    }
                                                }
                                                <ul>
                                                    <li>
                                                        @foreach (var fm in Model)
                                                        {
                                                            @if (fm.Generation == 3 && fm.GenerationPlaceID == 1)
                                                            {
                                                                <figure class="human">
                                                                    <img class="person" src="img/persona.png">
                                                                    <figcaption>@fm.Name</figcaption>
                                                                </figure>
                                                            }
                                                        }
                                                    </li>
                                                    <li>
                                                        @foreach (var fm in Model)
                                                        {
                                                            @if (fm.Generation == 3 && fm.GenerationPlaceID == 2)
                                                            {
                                                                <figure class="human">
                                                                    <img class="person" src="img/persona.png">
                                                                    <figcaption>@fm.Name</figcaption>
                                                                </figure>
                                                            }
                                                        }
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                @foreach (var fm in Model)
                                                {
                                                    @if (fm.Generation == 2 && fm.GenerationPlaceID == 3)
                                                    {
                                                        <figure class="human">
                                                            <img class="person" src="img/persona.png">
                                                            <figcaption>@fm.Name</figcaption>
                                                        </figure>
                                                    }
                                                }
                                            </li>
                                            
                                        </ul>
                                    </li>                               
                            </ul>                        
                        </li>
                </ul>            
        </div>
    </main>
</body>
</html>
